* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.about-hero {
  padding-top: 60px;
  height: fit-content;
  width: 100%;
}

canvas {
  overflow-clip-margin: content-box;
  overflow: clip;
}

.text-bg {
  background-image: linear-gradient(90deg, #8de0e9, #629ef1);
  border-radius: 3px;
  padding: 0px 12px;
  color: #111;
}

.gradient-parent {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100vw;
  height: 500px;
  transform-origin: 0 100%;
  transform: skewY(-8deg);
  overflow: hidden;
  z-index: -1;
}
.gradient-band {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.gradient-parent::after {
  content:"";
  position:absolute;
  top:0;
  left:0;
  min-width:1000px;
  width:100%;
  height: 100%;
  background: radial-gradient(#8de0e9 40%, transparent 60%) -620px -180px no-repeat, radial-gradient(rgb(173, 231, 239) 33%, transparent 67%) -120px -24px no-repeat, radial-gradient(#629ef1 40%, transparent 70%) -470px 150px no-repeat, hsl(155, 70%, 70%);
}

.about-container {
  height: 90vh;
  width: 80%;
  margin: 0 auto; 
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  z-index: 99;
  border-radius: 17px;
  padding: 50px;
  backdrop-filter: blur(100px);
  box-sizing: content-box;
}

.structure-vr-container {
  margin-top: 60px;
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}

.about-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  height: 45%;
  width: 90%;
}

.about-content h2 {
  font-size: 70px;
  color: #111;
  font-family: DM Sans;
}

.about-content p {
  margin-top: 5px;
  font-size: 24px;
  color: #000000;
  font-family: Helvetica;
  line-height: 34px;
  text-decoration: underline solid hsl(211, 67%, 61%) 5.5px;
  text-decoration-skip-ink: none;
  text-underline-offset: 5px;
  font-weight: 510;
  display: block;
}

.lewis-structure {
  min-width: clamp(45%, 400px, 500px);
  min-height: 250px;
  cursor: default;
  display: block;
}

.vr-container {
  width: 50%;
  height: 232px;
  padding: 30px;
  border-bottom: 6px solid hsl(211, 67%, 61%);
}

.vr-container h3 {
  font-size: 50px;
  font-family: DM Sans;
  color: #111;
}

.vr-container p {
  margin-top: 15px;
  display: block;
  font-size: 23px;
  color: #111;
  font-family: Helvetica;
  line-height: 26px;
}

.team-flexbox {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 80%;
  height: 1000px;
  padding-bottom: 25px;
  border: 2px solid #222;
  margin: 0 auto;
}

.card-bounds {
  height: 300px;
  width: 350px;
  transition: all 1.2s .2s;

  &:hover > .member-card {
    transform: rotateY(180deg);
  }
}

.member-card {
  height: 300px;
  width: 350px;
  border: 2px solid #111;
  margin-top: 25px;
  transition: 1.2s .2s;
  background-color: #fbeede;
  display: flex;
  align-items: center;
  justify-content: center;
  will-change: transform;
}

.card-bounds:hover > .member-card .flipped-content {
  opacity: 1;
}

.card-bounds:hover > .member-card .frontside {
  opacity: 0;
}

.about-hero .team-header {
  font-size: 50px;
  font-family: DM Sans;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 15px;
  color: #111;
}

.spacing {
  height: 80px;
  width: 100vw;
}

.member-card h4 {
  margin-top: 5px;
  font-size: 28px;
  text-align: center;
  font-family: DM Sans;
}

.member-card .subtitles {
  text-align: center;
  font-size: 20px;
  font-family: Archivo;
  font-weight: 600;
  padding-bottom: 50px;
}

.member-card img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin-top: 35px;
}

.frontside {
  opacity: 1;
  position: absolute;
  transition: all .4s .2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.flipped-content {
  position: absolute;
  opacity: 0;
  transition: all .4s .2s;
  width: 80%;
  margin: 0 auto;
  transform: rotateY(180deg);
}

.flipped-content h5 {
  text-align: center;
  font-size: 28px;
  font-family: DM Sans;
  margin-bottom: 20px;
  color: #629ef1;
}

.flipped-content p {
  text-align: center;
  font-family: Archivo;
  font-size: 19px;
}