
.footer-hero {
  height: 140px;
  min-height: max-content;
  width: 100vw;
  margin-top: 100px;
  border-top: solid 2px #111;
  background-color: rgba(145, 195, 239, 0.75);
  overflow-x: hidden;
}

.footer-container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 55px;
  row-gap: 15px;
  align-content:center;
}

.footer-container p { 
  font-size: 18px;
  font-family: DM Sans;
  font-weight: 900;
  text-align: center;
}

.socials {
  width: 100px;
  height: 40px;
}

svg {
  height: 40px;
  width: 50px;
  cursor: pointer;
  fill: rgb(16, 39, 73);
  transition: all 150ms;
}

.socials a:nth-child(1):hover svg {
  fill: rgba(240, 0, 0, 0.85);
}
.socials a:nth-child(2):hover svg {
  fill: rgba(0, 0, 240, 0.85);
}

@media screen and (max-width: 540px) {
  .footer-hero {
    height: 180px;
  }
}

@media screen and (max-width: 480px) {
  .footer-hero {
    margin-top: 180px;
  }
}