
.login-hero {
  height: calc(100vh - 90px);
  width: 100%;
  display: flex;
  align-items: center;
  background-image: linear-gradient(120deg, rgba(10, 255, 218, 0.55), rgba(145, 195, 239, 0.80));
}

.login-hero form {
  height: 100%;
  width: 560px;
  padding: 100px 100px 100px 80px;
  background-color: #f0f8ff;
}

.login-hero form h3 {
  font-size: 40px;
  margin-bottom: 30px;
  font-weight: 600;
  font-family: DM Sans;
}

.form-input {
  margin-bottom: 30px;
}

.form-input label {
  margin-right: 20px;
  font-size: 16px;
  font-weight: bold;
  font-family: Archivo;
  color: #333;
}

.form-input input {
  height: 42px;
  width: 100%;
  display: block;
  margin-top: 8px;
  border-radius: 8px;
  border: solid 1px #999;
}


input[type=email], input[type=password] {
  padding-left: 12px;
  font-size: 14px;
}

.login-hero form button {
  padding: 8px 60px;
  margin-top: 15px;
  display: inline-block;
  vertical-align: top;
  font-size: 17px;
  font-family: Archivo;
  background-color: hsl(208, 71%, 55%);
  color: rgb(242, 248, 254);
  border: 1px solid #888;
  border-radius: 5px;
}

.login-hero form button:hover {
  cursor: pointer;
  background-color: hsl(208, 71%, 60%);
}

.google-login {
  display: inline-block;
  margin-left: 18px;
  vertical-align: top;
  margin-top: 13px;
}

.chair-logo {
  object-fit: cover;
  width: calc(100% - 550px);
  min-height: 90%;
  filter: contrast(1.5) hue-rotate(-50deg);
  transform: scale(0.9);
}

#make-account {
  display: block;
  margin-top: 20px;
  font-size: 17px;
  text-underline-offset: 1px;
  text-decoration: underline;
  width: fit-content;
}

@media screen and (max-width: 1000px){
  .chair-logo {
    display: none;
  }
  .login-hero {
    background-image: none;
    background-color: aliceblue;
    justify-content: center;
    align-content: center;
  }
  .login-hero form {
    height: auto;
    width: auto;
    border: 1px solid #c5c5c5;
    padding: 60px 120px 60px 90px;
    min-width: 320px;
    background-color: hsl(208, 100%, 92%);
    border-radius: 5px;
    box-shadow: -3px 3px 12px #888;
  }
}

@media screen and (max-width: 560px) {
  .login-hero form {
    padding: 50px;
  }
}

@media screen and (max-width: 400px) {
  .login-hero form {
    padding: 65px 35px 35px;
    box-shadow: none;
  }
}