
.login-hero {
  height: calc(100vh - 90px);
  display: grid;
  grid-template-columns: min(550px), 1fr;
  background-image: linear-gradient(120deg, rgba(10, 255, 218, 0.55), rgba(145, 195, 239, 0.80));
}

.login-hero form {
  height: 100%;
  background-color: aliceblue;
}

#form-info {
  width: 500px;
  margin: 0 0 0 15%;
  padding-top: 15%;
}

#form-info h3 {
  font-size: 40px;
  margin-bottom: 30px;
  font-weight: 600;
  font-family: DM Sans;
}

.form-input {
  margin-bottom: 30px;
}

.form-input label {
  margin-right: 20px;
  font-size: 16px;
  font-weight: bold;
  font-family: Archivo;
  color: #333;
}

.form-input input {
  height: 42px;
  width: 80%;
  display: block;
  margin-top: 8px;
  border-radius: 8px;
  border: solid 1px #999;
}


input[type=email], input[type=password] {
  padding-left: 12px;
  font-size: 14px;
}

.login-hero form #form-info button {
  padding: 8px 60px;
  margin-top: 20px;
  display: inline-block;
  vertical-align: top;
  font-size: 17px;
  font-family: Archivo;
  background-color: hsl(208, 71%, 55%);
  color: rgb(242, 248, 254);
  border: 1px solid #888;
  border-radius: 5px;
}

.login-hero form #form-info button:hover {
  cursor: pointer;
  background-color: hsl(208, 71%, 60%);
}

.google-login {
  display: inline-block;
  margin-left: 18px;
  vertical-align: top;
  margin-top: 20px;
}

.chair-logo {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  transform: scale(0.8);
  filter: contrast(1.5) hue-rotate(-50deg);
}

#make-account {
  display: block;
  margin-left: 15%;
  margin-top: 20px;
  font-size: 17px;
  text-underline-offset: 1px;
  text-decoration: underline;
  width: fit-content;
}