
:root {
  --gradient-blue: linear-gradient(to bottom left, #2b98f8, rgb(156, 217, 250));
  --gradient-green: linear-gradient(to bottom left, rgb(162, 255, 162), rgb(50, 164, 199));
}

.wrapper {
  width: 100%;
  height: fit-content;
}

.header {
  font-size: 4rem;
  letter-spacing: 1px;
  color: #f5f5f5; 
  font-family: Archivo;
  line-height: 65px;
  font-weight: 500;
  display: block;
}

.gradient-blue,
.gradient-green {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 100%;
}

.gradient-green {
  background-image: var(--gradient-green);
}
.gradient-blue {
  background-image: var(--gradient-blue);
}

.upper-main {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 70px 0 100px 100px;
  position: relative;
  background-image: linear-gradient(to bottom, #000, hsl(180, 2%, 7%));
}

.courses-overview {
  min-width: max(40%, 400px);
  transform: translateX(50px);
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 99;
}

.courses-overview p {
  margin-top: 30px;
  width: 80%;
  font-size: 1.5rem;
  font-family: Helvetica;
  font-weight: 300;
  color: #a2a4c1;
}

.page-link-button {
  display: inline-block;
  width: fit-content;
  margin-top: 30px;
  position: relative;
  text-decoration: none;
  padding: 14px 16px;
  transition: all 250ms ease 25ms;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: sans-serif;
  color: hsl(193, 89%, 75%);
  background-color: hsl(231, 19%, 14%);
  border-left: solid 2px #fff;
  box-shadow: 0px 20px 90px -21px #8bb9ff;
}
.page-link-button:hover {
  background-color: hsl(231, 19%, 17%);
  color: hsl(193, 71%, 80%);
}

.light {
  position: absolute;
  height: 120px;
  width: 100px;
  left: 10%;
  bottom: 55%;
  border-radius: 50%;
  background-image: radial-gradient(#2b98f8, rgb(156, 217, 250));
  filter: blur(105px);
  animation: light-anim 28s ease-out infinite alternate-reverse;
  pointer-events: none;
  transform: translate3d(0, 0, 0);
}

@keyframes light-anim {
  0% {
    left: 5%;
    bottom: 55%;
    border-radius: 50%;
  }
  25% {
    left: 20%;
    bottom: 30%;
    border-radius: 40%;
  }
  50% {
    left: 15%;
    bottom: 75%;
    border-radius: 60%;
  }
  75% {
    left: 0%;
    bottom: 65%;
    border-radius: 30%;
  }
  100% {
    left: 5%;
    bottom: 20%;
    border-radius: 50%;
  }
} 

.text-bg {
  background-image: linear-gradient(130deg, hsl(186, 68%, 80%), hsl(215, 84%, 76%));
  border-radius: 3px;
  padding: 0px 12px;
  color: #111222;
}

.ar-hero {
  width: 100%;
  height: fit-content;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 80px;
  row-gap: 120px;
  flex-wrap: wrap;
  background-color: hsl(180, 2%, 7%);
}

.ar-app-image {
  height: 380px;
  width: clamp(450px, 45%, 600px);
  border-left: 2px solid #e0eaf4;
  border-right: 2px solid #e0eaf4;
  border-radius: 8px;
  filter: grayscale(25%);
}

.ar-container {
  display: flex;
  flex-direction: column;
  width: clamp(350px, 40%, 600px);
  height: 300px;
}

.ar-container h3 {
  font-size: 60px;
  font-family: DM Sans;
  color: #eeeeeb;
  width: max-content;
  font-weight: 550;
}

.ar-container p {
  margin-top: 25px;
  font-size: 1.5rem;
  font-family: Helvetica;
  font-weight: 200;
  color: #a2a4c1;
  line-height: 30px;
}

@media screen and (max-width: 1300px){
  .courses-overview {
    transform: translateX(50px);
  }
}

@media screen and (max-width: 1090px){
  .upper-main {
    flex-direction: column;
    padding: 80px 0 0 0;
  }
  .courses-overview {
    min-width: 100%;
    justify-content: center;
    align-items: center;
    transform: none;
    margin: 0;
  }
  .courses-overview p {
    text-align: center;
  }

  .courses-overview .header {
    text-align: center;
    width: 75%;
  }

  .ar-hero {
    flex-direction: column;
  }
  .ar-container {
    width: 90%;
    justify-content: center;
    align-items: center;
  }
  .ar-container p {
    text-align: center;
    width: 90%;
  }
  .ar-app-image {
    width: 550px;
    border: none;
  }
}

@media screen and (max-width: 780px){
  .courses-overview .header {
    width: 92%;
    font-size: 50px;
    line-height: 54px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 610px){
  .ar-app-image {
    width: 450px;
    height: 280px;
  }
  .courses-overview p {
    font-size: 20px;
    line-height: 26px;
  }
  .courses-overview .header {
    font-size: 46px;
    line-height: 48px;
  }
  .page-link-button {
    font-size: 22px;
  }
}

@media screen and (max-width: 500px){
  .ar-app-image {
    width: 380px;
    height: 250px;
  }
  .ar-container h3 {
    font-size: 48px;
  }
  .ar-container p {
    font-size: 20px;
    line-height: 25px;
  }
}

@media screen and (max-width: 400px){
  .ar-app-image {
    width: 100%;
    height: 250px;
    border-radius: 0;
    margin-top: 50px;
  }
  .ar-container h3 {
    font-size: 44px;
  }
}

