* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
  z-index: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content:left;
  background-color: #000;
}

.navbar {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
  padding: 20px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  z-index: 99;
}

.video-container {
  height: 100%;
  width: 80%;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: -1;
}

.planet-video {
  object-fit: fill;
  filter: brightness(85%);
  height: 100%;
  width: 110%;
}

.nav-item {
  display: inline-block;
  margin: 0 20px;
  position: relative;
}
.nav-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-family: Helvetica;
  font-size: 20px;
}

.nav-item::before {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2.5px; 
  background-color: white; 
  transition: width 0.3s ease; 
}
  
.nav-item:hover::before {
  width: 100%; 
}

.vid-overlay {
  height: 100%;
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  background-image: linear-gradient(100deg, #000 30%, rgba(0, 0, 0, 0.1) 60%, transparent 70%);
}

.vid-overlay::before {
  content: '';
  position: absolute;
  height: 180px;
  width: 200px;
  left: 20%;
  bottom: 35%;
  border-radius: 50%;
  background-image: radial-gradient(rgb(81, 193, 213), rgb(100, 24, 136));
  filter: blur(100px);
}  

 .vid-overlay::after {
  content: '';
  position: absolute;
  height: 180px;
  width: 160px;
  left: 10%;
  bottom: 55%;
  border-radius: 50%;
  background-image: radial-gradient(rgb(71, 63, 177), rgb(100, 24, 136));
  filter: blur(115px);
}  

.overlay-content {
  width: 80%;
  transform: translateY(-5%);
}

.vid-header {
  font-family: Archivo;
  font-weight: 700;
  line-height: 75px;
  letter-spacing: 2px;
  font-size: clamp(50px, 4.5rem, 140px);
  color: rgb(190, 246, 255);
}

.vid-subtext {
  margin-top: 20px;
  color: rgb(214, 227, 233);
  font-size: 1.8rem;
  font-family: Archivo;
}

.button-anchor {
  text-decoration: none;
  display: inline-block;
  color: #f0f8ff;
  margin-top: 25px;
  font-size: 1.8rem;
  padding: 5px 10px;
  border: 2px solid #f0f8ff;
  font-family: sans-serif;
  transition: all 400ms normal;
  cursor: pointer;
}

.button-anchor:hover {
  color: #000;
  background-color: #f0f8ff;
}


     
  

 

/* .link-with-underline {
    position: relative;
    text-decoration: none;
    color: #000; 
  }
  
  .link-with-underline::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px; 
    background-color: #000; 
    transition: width 0.3s ease; 
  }
  
  .link-with-underline:hover::before {
    width: 100%; 
  } */
  

.logo-img {
    height: 60px;
    width: 240px;
}