
.hero {
  z-index: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content:left;
  background-color: #000;
}

.navbar {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 90px;
  padding: 20px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;

  & li {
    display: inline-block;
    margin: 0 28px;
    position: relative;
  }
}

.nav-link {
  text-decoration: none;
  color: #f2f3ed;
  font-family: Archivo;
  font-weight: 500;
  font-size: 21px;

  &::before {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 2.5px; 
    background-color: white; 
    transition: width 0.3s ease; 
  }
  &:hover::before {
    width: 100%; 
  }
}

.video-container {
  height: 100%;
  width: 80%;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: -1;

  & video {
    object-fit: fill;
    filter: brightness(95%);
    height: 100%;
    width: 110%;
  }
}

.vid-overlay {
  height: 100%;
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  background-image: linear-gradient(100deg, #000 45%, rgba(0, 0, 0, 0.1) 70%, transparent 80%);

  &::before {
    content: '';
    position: absolute;
    height: 180px;
    width: 200px;
    left: 20%;
    bottom: 35%;
    border-radius: 50%;
    background-image: radial-gradient(rgb(81, 193, 213), rgb(100, 24, 136));
    filter: blur(100px) brightness(95%);
  } 
  &::after {
    content: '';
    position: absolute;
    height: 180px;
    width: 160px;
    left: 10%;
    bottom: 55%;
    border-radius: 50%;
    background-image: radial-gradient(rgb(71, 63, 177), rgb(100, 24, 136));
    filter: blur(115px) brightness(95%);
  }  
} 

.overlay-content {
  width: 80%;

  & h1 {
    font-family: Archivo;
    font-weight: 450;
    line-height: 80px;
    isolation: isolate;
    letter-spacing: 0;
    font-size: clamp(50px, 5rem, 140px);
    color: rgb(190, 246, 255);

    & + p {
      margin-top: 20px;
      color: #babfcb;
      font-size: 1.7rem;
      font-weight: 400;
      isolation: isolate;
      font-family: Archivo;

      & + a {
        text-decoration: none;
        display: inline-block;
        color: #fafcff;
        margin-top: 25px;
        font-size: 1.75rem;
        padding: 5px 10px;
        border: 1px solid #f0f8ff;
        font-family: sans-serif;
        transition: all 400ms normal;
        cursor: pointer;

        &:hover {
          color: #000;
          background-color: #f0f8ff;
        }
      }
    }
  }
}

.logo-img {
    height: 60px;
    width: 240px;
}