* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content:left;
}

.navbar {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
  padding: 20px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
}


.planet-video {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateX(20%);
  z-index: -1;
  filter: brightness(75%);
  height: 100%;
  width: 177.77777778vh;
  min-width: 100%; 
  min-height: 56.25vw; 
}

.logo {
    cursor: pointer;
}

.nav-item {
  display: inline-block;
  margin: 0 20px;
  position: relative;
}
.nav-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-family: Helvetica;
  font-size: 20px;
}

.nav-item::before {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2.5px; 
  background-color: white; 
  transition: width 0.3s ease; 
}
  
.nav-item:hover::before {
  width: 100%; 
}

.vid-overlay {
  height: 100%;
  width: 60vw;
  background-image: linear-gradient(to right, #000 30%, transparent);  
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.overlay-content {
  width: 80%;
  transform: translateY(-10%);
}

.vid-header {
  font-family: Archivo;
  font-weight: 700;
  line-height: 75px;
  letter-spacing: 2px;
  font-size: clamp(50px, 5vw, 140px);
  color: rgb(161, 238, 250);
}

.vid-subtext {
  margin-top: 20px;
  color: rgb(165, 183, 190);
  font-size: 1.8rem;
  font-family: Archivo;
}

.button-anchor {
  text-decoration: none;
  display: inline-block;
  color: #f0f8ff;
  margin-top: 20px;
  font-size: 1.8rem;
  padding: 5px 10px;
  border: 2px solid #f0f8ff;
  font-family: sans-serif;
  transition: all 400ms normal;
  cursor: pointer;
}

.button-anchor:hover {
  color: #000;
  background-color: #f0f8ff;
}

.custom-shape-divider-bottom-1705853581 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1705853581 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 108px;
}

.custom-shape-divider-bottom-1705853581 .shape-fill {
    fill: #000f16;
}
     
  

 

/* .link-with-underline {
    position: relative;
    text-decoration: none;
    color: #000; 
  }
  
  .link-with-underline::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px; 
    background-color: #000; 
    transition: width 0.3s ease; 
  }
  
  .link-with-underline:hover::before {
    width: 100%; 
  } */
  

.logo-img {
    height: 60px;
    width: 240px;
}