
.sign-up-hero {
  height: calc(100vh - 90px);
  width: 100vw;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-up-hero form {
  height: fit-content;
  width: 560px;
  background-color: #fff;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  border-bottom: 3px solid hsl(208, 71%, 60%);
  padding-bottom: 20px;
}

.name-fields-container {
  width: 100%;
  height: fit-content;
  margin-top: 20px;
}

.name-fields-container input {
  min-width: 100% !important;
  padding: none !important;
}

.inline-container {
  width: 46%;
  display: inline-block;
}

.sign-up-content {
  height: 100%;
  width: 100%;
  padding: 3rem;
  padding-top: 40px;
}

.sign-up-content h3 {
  font-size: 2rem;
  font-family: Archivo;
  text-align: center;
  font-weight: 500;
  color: #111;
}

.sign-up-input {
  margin-top: 20px;
}

.sign-up-input label,
.name-fields-container label {
  color: #555;
  display: block;
  font-family: Archivo;
  width: fit-content;
  margin-left: 2px;
  margin-bottom: 7px;
  font-weight: 600;
}

.sign-up-input input, 
.name-fields-container input {
  width: 100%;
  height: 38px;
  font-size: 16px;
  border-radius: 5px;
  border: solid 1px #999;
}

input[type=text] {
  padding-left: 12px;
  font-size: 14px;
}

.sign-up-content p {
  font-family: Archivo;
  font-size: 14px;
  margin-top: 13px;
  font-style: italic;
}

.sign-up-buttons-container {
  position: relative;
  width: fit-content;
  margin: 0 auto;
  top: 22px;
  display: flex;
  gap: 20px;
}

.sign-up-buttons-container button {
  padding: 13px 52px;
  background-color: rgb(57, 145, 222);
  border: solid 1px #aaa;
  font-family: DM Sans;
  font-size: 1.2rem;
  border-radius: 5px;
  color: rgb(242, 248, 254);
}

.sign-up-buttons-container button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.sign-up-buttons-container button:disabled:hover {
  background-color: #ccc;
  cursor: not-allowed;
}

.sign-up-buttons-container button:hover {
  cursor: pointer;
  background-color: hsl(208, 71%, 60%);
}

.google-sign-up {
  transform: scale(1.3);
  transform-origin: top;
}

@media screen and (max-width: 480px) {
  .sign-up-hero {
    background-color: #fff;
  }
  .sign-up-hero form {
    width: 100vw;
}
  .sign-up-content h3 {
    margin-top: 15px;
    font-size: 1.8rem;
  }

  .sign-up-content {
    padding: 20px;
  }
}
