.spline-asset {
  z-index: 0;
  max-width: fit-content;
  min-width: fit-content;
  height: calc(100% + 50px);
  overflow: hidden;
  position: relative;
  transform: translateX(-50px);
}

@media screen and (max-width: 1300px)  {
  .spline-asset {
    transform: translateX(-100px);
  }
}

@media screen and (max-width: 1160px) {
  .spline-asset {
    transform: translateX(-100px) scale(0.95);
  }
}

@media screen and (max-width: 1090px) {
  .spline-asset {
    transform: none;
    margin-top: 20px;
  }
}
@media screen and (max-width: 840px) {
  .spline-asset {
    transform: scale(0.8);
    transform-origin: bottom;
  }
}

@media screen and (max-width: 680px) {
  .spline-asset {
    transform: scale(0.65);
    margin-top: -200px;
  }
}
@media screen and (max-width: 560px) {
  .spline-asset {
    transform: scale(0.5);
    margin-top: -320px;
  }
}

@media screen and (max-width: 435px) {
  .spline-asset {
    transform: scale(0.45);
    margin-top: -360px;
  }
}

@media screen and (max-width: 420px) {
  .spline-asset {
    transform: scale(0.4);
    margin-top: -400px;
  }
}