* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.topics-header {
  font-size: 4rem;
  width: 100%;
  text-align: center;
  font-family: DM Serif;
  margin-top: 40px;
  color: rgb(29, 127, 207);
  display: inline-block;
}

.topics-container {
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.topics-cards {
  height: 400px;
  width: 340px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border: solid 1px #000;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
}

.topics-cards:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
  transform: translateY(-10px);
}

.card-content {
  width: 100%;
  background-color: rgba(0,0,0,0.7);
  text-align: center;
}
.cards-header,
.cards-unit {
  display: inline-block;
  color: #fff;
  line-height: 50px;
  font-size: 2rem;
}

.topics-cards:first-child {
  background-image: url(/public/images/topic-img-1.png);
}

.topics-cards:nth-child(2){
  background-image: url(/public/images/topic-img-2.jpg);
}

.topics-cards:nth-child(3){
  background-image: url(/public/images/topic-img-3.png);
}