* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.topics-header {
  font-size: 4rem;
  width: 100%;
  text-align: center;
  font-family: DM Serif;
  margin-top: 40px;
  color: rgb(29, 127, 207);
  display: inline-block;
}

.topics-container {
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
}

.topics-cards {
  height: 50vh;
  width: clamp(250px, 320px, 400px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: solid 1px #000;
  margin-left: 3rem;
  cursor: pointer;
}

.cards-header {
  color: #fff;
  background-color: #000;
  width: 100%;
  text-align: center;
}

.cards-unit {
  color: #fff;
  background-color: #000;
  width: 100%;
  text-align: center;
}

.topics-cards:first-child {
  margin-left: 0;
  background-image: url(/public/images/topic-img-1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.topics-cards:nth-child(2){
  background-image: url(/public/images/topic-img-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.topics-cards:nth-child(3){
  background-image: url(/public/images/topic-img-3.png);
  background-repeat: no-repeat;
  background-size: cover;
}